# Compiled output files
build/
out/
bin/

# IntelliJ project files
.idea/
*.iml
*.ipr
*.iws

# Gradle files
.gradle/
!gradle/wrapper/gradle-wrapper.properties #keep this file
!gradle/wrapper/gradle-wrapper.jar #keep this file
*.lockfile

# Kotlin-specific files
.kotlin/

# Temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Executables
*.exe
*.dmg

# Jar files
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Dependency files
*.class

# Local properties
local.properties

# VSCode files
.vscode/
.history/
.code-workspace
